Repository manicminer/hamilton, pull requests merged in 2021-11, with the labels that each got.

#119 Remove MSI sanity check
  auth/msi.go
Labels: bug, package/auth

#120 Support for autorest.BearerAuthorizer
  auth/auth.go
  auth/auth_test.go
  auth/autorest.go
  environments/environments.go
  go.mod
  go.sum
  internal/test/testing.go
Labels: enhancement, package/auth, package/environments

#123 Support more APIs, auth refactoring, multi-tenant auth, implement autorest.Authorizer, remove Azure Germany
  README.md
  aadgraph/applicationrefs_test.go
  auth/auth.go
  auth/auth_test.go
  auth/autorest.go
  auth/azcli.go
  auth/cache.go
  auth/clientcredentials.go
  auth/config.go
  auth/msi.go
  environments/apis.go
  environments/endpoints.go
  environments/environments.go
  example/example.go
  internal/cmd/test-cleanup/conditionalaccesspolicies.go
  internal/cmd/test-cleanup/main.go
  internal/test/testing.go
  msgraph/accesspackage_test.go
  msgraph/accesspackageassignmentpolicy_test.go
  msgraph/accesspackagecatalog_test.go
  msgraph/accesspackageresourcerequest_test.go
  msgraph/accesspackageresourcerolescope_test.go
  msgraph/app_role_assignments.go
  msgraph/app_role_assignments_test.go
  msgraph/application_templates_test.go
  msgraph/applications_test.go
  msgraph/authentication_methods.go
  msgraph/authentication_methods_test.go
  msgraph/conditionalaccesspolicy.go
  msgraph/conditionalaccesspolicy_test.go
  msgraph/directory_audit_reports_test.go
  msgraph/directory_objects_test.go
  msgraph/directory_role_templates_test.go
  msgraph/directory_roles_test.go
  msgraph/domains_test.go
  msgraph/groups_test.go
  msgraph/identity_providers_test.go
  msgraph/invitations_test.go
  msgraph/namedlocations_test.go
  msgraph/reports_test.go
  msgraph/schema_extensions_test.go
  msgraph/serviceprincipals_test.go
  msgraph/sign_in_reports.go
  msgraph/sign_in_reports_test.go
  msgraph/users_test.go
  odata/errors.go
Labels: enhancement, breaking change, package/auth, package/environments

#124 Support for Administrative Units
  internal/cmd/test-cleanup/administrativeunits.go
  internal/cmd/test-cleanup/main.go
  internal/test/testing.go
  msgraph/administrative_units.go
  msgraph/administrative_units_test.go
  msgraph/models.go
  msgraph/valuetypes.go
Labels: enhancement, package/msgraph

#125 Conditional access device conditions
  msgraph/models.go
  msgraph/valuetypes.go
Labels: enhancement, package/msgraph

#126 Support for delegated permission grants
  internal/test/testing.go
  msgraph/delegated_permission_grants_client.go
  msgraph/delegated_permission_grants_client_test.go
  msgraph/models.go
  msgraph/serviceprincipals_test.go
  msgraph/valuetypes.go
Labels: enhancement, package/msgraph

#127 Bugfix: fix casing for ConditionalAccessDevicePlatformAll constant value
  msgraph/valuetypes.go
Labels: bug, package/msgraph

#128 Update endpoints KeyVaultUSGovEndpoint const
  environments/endpoints.go
Labels: bug, package/environments

#129 Add missing environment API configurations
  environments/apis.go
  environments/environments.go
Labels: bug, package/environments

#130 Add autorest.BearerAuthorizerCallback support to auth.CachedAuthorizer
  auth/cache.go
Labels: enhancement, package/auth
