Repository manicminer/hamilton, pull requests merged in 2021-09, with the labels that each got.

#91 Bugfix: set struct tag for ServicePrincipal.Owners field so it is marshaled correctly
  msgraph/models.go
Labels: bug

#94 Some extra value types for ConditionalAccessPolicyState and InvitedUserType
  msgraph/models.go
  msgraph/valuetypes.go
Labels: enhancement

#95 Support for Application Templates
  msgraph/application_templates.go
  msgraph/application_templates_test.go
  msgraph/models.go
  msgraph/valuetypes.go
Labels: enhancement

#96 Password policies use nullable strings
  msgraph/models.go
Labels: bug, breaking change

#97 Use the right base64 decoder as a JWT is a tuple of URL-safe base64 encoded strings
  auth/auth_test.go
  auth/claims.go
  auth/claims_test.go
Labels: bug, package/auth

#98 Try to detect Azure Cloud Shell and avoid specifying the tenant ID for Azure CLI authentication
  auth/azcli.go
Labels: bug, package/auth

#100 Override go-retryablehttp error handling to ensure response object is not discarded
  msgraph/client.go
Labels: bug

#99 Add support for employee org data
  msgraph/models.go
Labels: enhancement

#102 Application update consistency check & nil checks
  msgraph/applications.go
  msgraph/directory_roles.go
  msgraph/groups.go
  msgraph/serviceprincipals.go
  odata/odata.go
Labels: bug, api-bug, package/msgraph, package/odata

#101 Support retrieving directory roles by their template ID
  msgraph/directory_roles.go
  msgraph/directory_roles_test.go
Labels: enhancement, package/msgraph

#103 Support for uploading application logos
  internal/test/testlogo.png
  msgraph/applications.go
  msgraph/applications_test.go
  msgraph/client.go
Labels: enhancement, package/msgraph

#105 Update OData Count from String to Int Type
  odata/odata.go
  odata/odata_test.go
Labels: bug, package/odata

#107 Support for the appRolesAssignedTo endpoint for service principals
  msgraph/app_role_assignments.go
  msgraph/app_role_assignments_test.go
Labels: enhancement, package/msgraph

#108 Add ConsistencyFailureFunc for auditLogs/SignIns
  msgraph/sign_in_reports.go
  odata/odata.go
Labels: enhancement, api-bug, package/msgraph

#109 Handle consistency related error that occurs possibly due to app ID collision in another tenant
  msgraph/serviceprincipals.go
  odata/odata.go
Labels: api-bug, package/msgraph

#110 Bug fix: User{}.EmployeeType is nullable
  msgraph/models.go
Labels: bug, package/msgraph
