Repository manicminer/hamilton, pull requests merged in 2021-10, with the labels that each got.

#113 Adds Azure VPN Application ID to azuread_application_published_app_ids manifest
  environments/published.go
Labels: enhancement, package/environments

#111 Add support for user's manager
  msgraph/users.go
  msgraph/users_test.go
Labels: enhancement, package/msgraph

#112 Support for OData HTTP headers
  msgraph/accesspackage.go
  msgraph/accesspackageassignmentpolicy.go
  msgraph/accesspackagecatalog.go
  msgraph/accesspackageresource.go
  msgraph/accesspackageresourcerolescope.go
  msgraph/app_role_assignments.go
  msgraph/application_templates.go
  msgraph/applications.go
  msgraph/authentication_methods.go
  msgraph/client.go
  msgraph/conditionalaccesspolicy.go
  msgraph/directory_audit_reports.go
  msgraph/directory_objects.go
  msgraph/directory_roles.go
  msgraph/domains.go
  msgraph/groups.go
  msgraph/me.go
  msgraph/namedlocations.go
  msgraph/reports.go
  msgraph/schema_extensions.go
  msgraph/serviceprincipals.go
  msgraph/sign_in_reports.go
  msgraph/users.go
  odata/errors.go
  odata/odata.go
  odata/odata_test.go
  odata/query.go
  odata/query_test.go
  odata/types.go
Labels: enhancement, api-bug
