Repository manicminer/hamilton, pull requests merged in 2022-03, with the labels that each got.

#152 odata: Broaden the regex for fixing broken `@odata.id` values
  odata/odata.go
  odata/odata_test.go
Labels: bug, package/odata

#153 Restore self-hosted GHA runner
  .github/workflows/auth-tests.yml
  .github/workflows/msgraph-tests.yml
Labels: tests

#147 :sparkles: Add ClaimsMappingPolicy
  internal/test/testing.go
  internal/utils/pointers.go
  msgraph/claims_mapping_policy.go
  msgraph/claims_mapping_policy_test.go
  msgraph/models.go
  msgraph/serviceprincipals.go
  msgraph/serviceprincipals_test.go
Labels: enhancement, package/msgraph

#154 Remove autorest dependency; wrapper structs/functions have been moved to a new module
  auth/auth.go
  auth/auth_test.go
  auth/autorest.go
  auth/cache.go
  environments/metadata.go
  environments/metadata_test.go
  go.mod
  go.sum
Labels: breaking change, refactor
