Repository manicminer/hamilton, pull requests merged in 2022-11, with the labels that each got.

#194 use eq rather than startswith which returns a list of resources
  msgraph/accesspackageresource.go
Labels: bug, package/msgraph

#198 Update model for DirectoryObject
  README.md
  example/example.go
  internal/cmd/test-cleanup/applications.go
  internal/cmd/test-cleanup/groups.go
  internal/cmd/test-cleanup/serviceprincipals.go
  internal/cmd/test-cleanup/users.go
  msgraph/accesspackageresourcerequest_test.go
  msgraph/accesspackageresourcerolescope_test.go
  msgraph/administrative_units_test.go
  msgraph/app_role_assignments_test.go
  msgraph/application_templates_test.go
  msgraph/applications.go
  msgraph/applications_test.go
  msgraph/authentication_methods_test.go
  msgraph/claims_mapping_policy.go
  msgraph/claims_mapping_policy_test.go
  msgraph/conditionalaccesspolicy_test.go
  msgraph/connectedorganization_test.go
  msgraph/delegated_permission_grants_client_test.go
  msgraph/directory_objects.go
  msgraph/directory_objects_test.go
  msgraph/directory_roles.go
  msgraph/directory_roles_test.go
  msgraph/groups.go
  msgraph/groups_test.go
  msgraph/models.go
  msgraph/role_assignments_test.go
  msgraph/role_definitions.go
  msgraph/role_definitions_test.go
  msgraph/schema_extensions_test.go
  msgraph/serviceprincipals.go
  msgraph/serviceprincipals_test.go
  msgraph/synchronization_test.go
  msgraph/users.go
  msgraph/users_test.go
Labels: enhancement, refactor, package/msgraph

#197 add writeback to Group model
  msgraph/models.go
  msgraph/valuetypes.go
Labels: enhancement, package/msgraph
