Repository manicminer/hamilton, pull requests merged in 2022-01, with the labels that each got.

#135 Fix word typos
  internal/cmd/test-cleanup/conditionalaccesspolicies.go
  msgraph/accesspackage_test.go
  msgraph/accesspackageassignmentpolicy_test.go
  msgraph/accesspackagecatalog_test.go
  msgraph/accesspackageresourcerequest_test.go
  msgraph/accesspackageresourcerolescope_test.go
  msgraph/authentication_methods_test.go
  msgraph/models.go
  msgraph/valuetypes.go
Labels: bug, tests

#134 Support for federated identity credentials for applications
  msgraph/applications.go
  msgraph/applications_test.go
  msgraph/models.go
Labels: enhancement, package/msgraph

#133 EntitlementManagement - Add Types, move catalogs and packages to 1.0 Stable
  msgraph/accesspackage.go
  msgraph/accesspackage_test.go
  msgraph/accesspackageassignmentpolicy_test.go
  msgraph/accesspackagecatalog.go
  msgraph/accesspackagecatalog_test.go
  msgraph/accesspackageresourcerequest_test.go
  msgraph/accesspackageresourcerolescope_test.go
  msgraph/models.go
  msgraph/valuetypes.go
  odata/types.go
Labels: enhancement, breaking change, package/msgraph

#136 Expand testing for SP passwords to include recently restored date support
  msgraph/applications_test.go
  msgraph/serviceprincipals_test.go
Labels: tests

#142 Support for authenticating via GitHub OIDC
  auth/auth.go
  auth/auth_test.go
  auth/clientcredentials.go
  auth/github.go
Labels: enhancement, package/auth

#137 Support role definitions and assignments via the unified role management endpoints
  internal/test/testing.go
  msgraph/models.go
  msgraph/role_assignments.go
  msgraph/role_assignments_test.go
  msgraph/role_definitions.go
  msgraph/role_definitions_test.go
Labels: enhancement, package/msgraph

#143 Groups fixes
  msgraph/groups.go
  msgraph/models.go
Labels: bug, package/msgraph

#145 Run tests on cloud runners
  .github/workflows/auth-tests.yml
  .github/workflows/environments-tests.yml
  .github/workflows/github-auth-tests.yml
  .github/workflows/golint.yml
  .github/workflows/msgraph-tests.yml
  .github/workflows/odata-tests.yml
  .github/workflows/scheduled-cleanup.yml
  auth/auth.go
  auth/config.go
  auth/github.go
  auth/msi.go
  internal/test/testing.go
Labels: tests, package/auth
