Repository manicminer/hamilton, pull requests merged in 2022-04, with the labels that each got.

#158 Service Principal: Support token signing certificates
  msgraph/models.go
  msgraph/serviceprincipals.go
  msgraph/serviceprincipals_test.go
Labels: enhancement, package/msgraph

#157 Fix App ID URI for Vault in USGovernment cloud
  environments/endpoints.go
Labels: bug, package/environments

#161 Conditional Access Policies: Locations and Platforms are optional and nullable
  msgraph/models.go
Labels: bug, breaking change, package/msgraph

#162 Update published.go
  environments/published.go
Labels: enhancement, package/environments

#163 Add `linux` to supported `ConditionalAccessDevicePlatform` values
  msgraph/valuetypes.go
Labels: enhancement, package/msgraph
