Repository manicminer/hamilton, pull requests merged in 2022-10, with the labels that each got.

#186 Added the Synapse UsGov Endpoints
  environments/apis.go
  environments/endpoints.go
  environments/environments.go
Labels: enhancement, package/environments

#193 Go & tooling upgrades
  .github/workflows/auth-tests.yml
  .github/workflows/environments-tests.yml
  .github/workflows/github-auth-tests.yml
  .github/workflows/golint.yml
  .github/workflows/msgraph-tests.yml
  .github/workflows/odata-tests.yml
  .github/workflows/scheduled-cleanup.yml
  .go-version
  GNUmakefile
  aadgraph/applicationrefs.go
  aadgraph/applicationrefs_test.go
  aadgraph/client.go
  auth/auth.go
  auth/clientcredentials.go
  auth/github.go
  auth/msi.go
  internal/test/testing.go
  msgraph/administrative_units_test.go
  msgraph/app_role_assignments_test.go
  msgraph/applications_test.go
  msgraph/authentication_methods_test.go
  msgraph/b2c_userflow_test.go
  msgraph/conditionalaccesspolicy_test.go
  msgraph/delegated_permission_grants_client_test.go
  msgraph/directory_objects_test.go
  msgraph/groups.go
  msgraph/groups_test.go
  msgraph/role_assignments_test.go
  msgraph/schema_extensions_test.go
  msgraph/users.go
  msgraph/users_test.go
  odata/errors.go
  odata/http.go
Labels: tests

#156 Add client for managing Connected Organizations in entitlement management
  internal/test/testing.go
  msgraph/connectedorganization.go
  msgraph/connectedorganization_test.go
  msgraph/models.go
  msgraph/utils.go
  msgraph/valuetypes.go
  odata/types.go
Labels: enhancement, package/msgraph

#187 quick fixes for two issues: nil pointer and type mismatch
  msgraph/accesspackageresource.go
  msgraph/models.go
Labels: bug, package/msgraph

#191 Add Transitive Member Listing for Groups
  msgraph/groups.go
  msgraph/groups_test.go
Labels: enhancement, package/msgraph
