Repository manicminer/hamilton, pull requests merged in 2022-09, with the labels that each got.

#160 Make msgraph.Group a hashable type - change types of unhashable fields
  msgraph/groups_test.go
  msgraph/models.go
  msgraph/schema_extensions_test.go
Labels: enhancement, package/msgraph

#171 implement additional data for directoryobjects
  msgraph/directory_objects.go
  msgraph/models.go
Labels: enhancement, package/msgraph

#172 Fix bug in CountEntitled type
  msgraph/models.go
Labels: bug, package/msgraph

#175 add app IDs for Front Door
  environments/published.go
Labels: enhancement, package/environments

#181 Add OData query parameters to appRoleAssignments fixes #180
  msgraph/app_role_assignments.go
  msgraph/app_role_assignments_test.go
Labels: enhancement, package/msgraph

#182 Add Support for CRUD operations on UserFlowAttributes
  internal/test/testing.go
  msgraph/models.go
  msgraph/userflow_attributes.go
  msgraph/userflow_attributes_test.go
  msgraph/valuetypes.go
Labels: enhancement, package/msgraph

#179 Add support for B2CUserFlow CRUD operations
  internal/test/testing.go
  internal/utils/pointers.go
  msgraph/b2c_userflow.go
  msgraph/b2c_userflow_test.go
  msgraph/models.go
Labels: enhancement, package/msgraph, waiting-response

#183 Service Principals: support for `oauth2PermissionScopes` property which is present on the v1.0 API
  msgraph/models.go
Labels: enhancement, package/msgraph
