Repository manicminer/hamilton, pull requests merged in 2023-02, with the labels that each got.

#212 Add support for pkcs12 bundles
  auth/auth.go
  go.mod
  go.sum
Labels: enhancement, package/auth

#210 Add support for entitlement management access package assignment requests
  internal/test/testing.go
  msgraph/accesspackageassignmentrequest.go
  msgraph/accesspackageassignmentrequest_test.go
  msgraph/models.go
  msgraph/valuetypes.go
Labels: enhancement, package/msgraph

#208 Add entitlement management role clients
  internal/test/testing.go
  msgraph/entitlement_role_assignments.go
  msgraph/entitlement_role_assignments_test.go
  msgraph/entitlement_role_definitions.go
  msgraph/entitlement_role_definitions_test.go
Labels: enhancement, package/msgraph

#207 Extend Conditional access session controls model by new parameter disableResilienceDefaults
  msgraph/models.go
Labels: enhancement, package/msgraph

#209 Continuing Terms of Use
  internal/test/testing.go
  msgraph/models.go
  msgraph/termsofuse.go
  msgraph/termsofuse_test.go
Labels: enhancement, package/msgraph

#216 Add some Office and Azure Postgres application IDs
  environments/published.go
Labels: enhancement, package/environments

#221 Bugfix: accommodate field name with typo
  msgraph/models.go
Labels: api-bug, package/msgraph

#218 Applications: support the `notes` field
  msgraph/models.go
Labels: enhancement, package/msgraph

#220 List group memberships for administrative unit
  msgraph/groups.go
  msgraph/groups_test.go
Labels: enhancement, package/msgraph

#225 Application: notes is nullable
  msgraph/models.go
Labels: bug, package/msgraph

#230 Drop tenant ID from path in Microsoft Graph requests
  README.md
  example/example.go
  internal/cmd/test-cleanup/accesspackageassignmentpolicies.go
  internal/cmd/test-cleanup/accesspackageassignmentrequests.go
  internal/cmd/test-cleanup/accesspackagecatalogs.go
  internal/cmd/test-cleanup/accesspackages.go
  internal/cmd/test-cleanup/administrativeunits.go
  internal/cmd/test-cleanup/applications.go
  internal/cmd/test-cleanup/b2c_userflows.go
  internal/cmd/test-cleanup/claimsmappingpolicies.go
  internal/cmd/test-cleanup/conditionalaccesspolicies.go
  internal/cmd/test-cleanup/connectedorganizations.go
  internal/cmd/test-cleanup/groups.go
  internal/cmd/test-cleanup/namedlocations.go
  internal/cmd/test-cleanup/roledefinitions.go
  internal/cmd/test-cleanup/schemaextensions.go
  internal/cmd/test-cleanup/serviceprincipals.go
  internal/cmd/test-cleanup/termsofuse.go
  internal/cmd/test-cleanup/users.go
  internal/test/testing.go
  msgraph/accesspackage.go
  msgraph/accesspackageassignmentpolicy.go
  msgraph/accesspackageassignmentrequest.go
  msgraph/accesspackagecatalog.go
  msgraph/accesspackageresource.go
  msgraph/accesspackageresourcerequest.go
  msgraph/accesspackageresourcerolescope.go
  msgraph/administrative_units.go
  msgraph/app_role_assignments.go
  msgraph/application_templates.go
  msgraph/applications.go
  msgraph/authentication_methods.go
  msgraph/b2c_userflow.go
  msgraph/claims_mapping_policy.go
  msgraph/client.go
  msgraph/conditionalaccesspolicy.go
  msgraph/connectedorganization.go
  msgraph/delegated_permission_grants_client.go
  msgraph/directory_audit_reports.go
  msgraph/directory_objects.go
  msgraph/directory_role_templates.go
  msgraph/directory_roles.go
  msgraph/domains.go
  msgraph/entitlement_role_assignments.go
  msgraph/entitlement_role_definitions.go
  msgraph/groups.go
  msgraph/identity_providers.go
  msgraph/invitations.go
  msgraph/me.go
  msgraph/namedlocations.go
  msgraph/reports.go
  msgraph/role_assignments.go
  msgraph/role_definitions.go
  msgraph/schema_extensions.go
  msgraph/serviceprincipals.go
  msgraph/sign_in_reports.go
  msgraph/synchronization.go
  msgraph/termsofuse.go
  msgraph/userflow_attributes.go
  msgraph/users.go
Labels: enhancement, package/msgraph

#226 Allow ProvisionOnDemand to return OK as response
  msgraph/synchronization.go
Labels: bug, package/msgraph
