Repository manicminer/hamilton, pull requests merged in 2023-01, with the labels that each got.

#199 fix on prem group type casing
  msgraph/valuetypes.go
Labels: bug, package/msgraph

#200 Adding support of Microsoft.StorageSync
  environments/published.go
Labels: enhancement, package/environments

#206 Provide a function to create a group directly into an administrative unit
  msgraph/administrative_units.go
  msgraph/administrative_units_test.go
Labels: enhancement, package/msgraph
